<h3>Finance Approver</h3>

<div>
  <h5>Income Awaiting Verification</h5>
  <%= render template: "incomes/finance_index" %> 
</div>

<div>
  <h5>My Organizations</h5>
  <%= render template: "organizations/finance_index" %> 
</div>


