<h1>Home Dashboard</h1>
<br>

<h3>Your Organizations</h3>
<%= render template: "organizations/index" %>

<h3>Your Events</h3>
<%= render template: "events/organizer_index" %>

<h3>Your Incomes</h3>
<%= render template: "incomes/index" %>

<h3>Your Expenses</h3>
<%= render template: "expenses/index" %>

