<table>
  Income(s)
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category Details</th>
    </tr>
  </thead>
  <tbody>
    <% if @event.incomes %>
      <% @event.incomes.each do |income| %>
        <tr>
          <td><%= number_to_currency(income.estimated_amount, precision: 2) %></td>
          <td><%= income.category_details %></td>
          <td><%= to_verified(income.status) %></td>
      <% end %>
    <% else %>
      <div> No Income </div>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Income", new_event_income_path(@event) %>