<h2> Listing Events </h2>
<table> 
  <tbody>
    <% if @organization_events %>
      <% @organization_events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.organization.name %></td>
        </tr>
      <% end %>
    <% else %>
      No events!
    <% end %>
  </tbody>
</table>

