<h2> Listing Events </h2>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% if @organization_events %>
      <% @organization_events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.date %></td>
        </tr>
      <% end %>
    <% else %>
      <div> No events </div>
    <% end %>
  </tbody>
</table>

<%= link_to "back to dashboard", dashboard_path %>