<h1> Event: <%= @event.name %></h1>

<h2>Managing Organizations</h2>
<%= render 'events_organizations' %>
</br>

<h2>Event Incomes</h2>
<%= render 'events_incomes' %>
</br>

<h2>Event Expenses</h2>
<%= render 'events_expenses' %>



