body {
  padding: 0 0 3em 0;
  border: 1px solid gray;
}

.top-bar {
  color: white;
  margin: 0 0 2em 0;

  h1 {
    font-size: 2em;
    color: white;
  }

  #logout-msg {
    line-height: 60px;
  }

  #sign-in-button {
    line-height: auto;
  }

}