  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'Shindig Sheriff', dashboard_path(@user) %></h1>
      </li>
    </ul>


    <section class="top-bar-section">
      <ul class="right">

        <% if user_signed_in? %>
          <li id="logout-msg">
            Logged in as <strong><%= current_user.email %></strong>.
          </li>

          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </li>

        <% else %>
            <%= render partial: "layouts/signin" %>
        <% end %>
      </ul>
    </section>
  </nav>

  