<% if notice %>
  <div class="alert-box">
    <div class="alert alert-notice"><%= notice %></div>
  </div>
<% end %>

<% if alert %>
  <div class="alert-box">
    <div class="alert alert-notice"><%= alert %></div>
  </div>
<% end %>

<% if flash[:errors] %>
  <div class="alert-box">
    <div class="alert alert-notice"><%= flash[:errors] %>
  </div>
<% end %>

