<% if notice %>
  <div class="alert-box">
    <div class="alert alert-notice"><%= notice %></div>
  </div>
<% end %>

<% if alert %>
  <div class="alert-box">
    <div class="alert alert-error"><%= alert %></div>
  </div>
<% end %>

